
  <div fxFlex.gt-sm="27%">
    <img class="footer__logo" src="../../assets/images/logo.svg" alt="Shortly logo" />
  </div>
  <app-footer-item title="Features" [listItems]="['Link Shortening','Branded Links','Analytics']"></app-footer-item>
  <app-footer-item title="Resources" [listItems]="['Blog','Developers','Support']"></app-footer-item>
  <app-footer-item title="Company" [listItems]="['About','Our Team','Careers', 'Contact']"></app-footer-item>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=24px>
    <img class="footer__social-icon" src="../../assets/images/icon-facebook.svg">
    <img class="footer__social-icon" src="../../assets/images/icon-twitter.svg">
    <img class="footer__social-icon" src="../../assets/images/icon-pinterest.svg">
    <img class="footer__social-icon" src="../../assets/images/icon-instagram.svg">
  </div>
