@import 'variables.scss';
@import 'reset.css';

html {
    font-size: 18px;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-weight: 700;
    color: $very-dark-blue;
}

h1 {
    line-height: 1.2em;
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85rem;
}

p {
    line-height: 1.65em;
    color: $grayish-violet;
    font-size: 500;
}

button {
    background-color: $primary-cyan;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    // letter-spacing: 0.05rem;

    // is that good approach?
    &.rounded {
        border-radius: 500px;
    }

    // is that good approach?
    &.small {
      font-size: 0.85rem;
      padding: 0.45rem 1.3rem;
    }
}

input {
    border-radius: 6px;
    font-size: 0.9rem;
    padding: 12px;
    padding-bottom: 10px;
    color: $grayish-violet;
    border-width: 3px;
    border-color: rgba(0,0,0,0); // transparent

    &::placeholder {
        color: $grayish-violet;
        opacity: 1; /* Firefox */
      }

    &.ng-invalid:not(.ng-pristine) //check PRISITNE
    {
      border-color: $secondary-red;
      border-width: 3px;
      border-style: solid;

      &::placeholder {
        color: $secondary-red;
        opacity: .5;
      }
    }
}


