@import '../../styles/variables.scss';

.card {
    $self: &;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 75px 30px 40px;
    position: relative;
    z-index: 20;
    max-width: 460px;

    &__icon-container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      background-color: $primary-dark-violet;
      border-radius: 50%;
      width: 87px;
      height: 87px;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
        font-size: 0.83rem;
        letter-spacing: 0.01rem;
    }

    &--connectors {
      z-index: 10;
      transform-style: preserve-3d; /* for displaying below parent - This is important */

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateZ(-10px);  /* for displaying below parent -  This is important */
        width: 8px;
        height: 150px;
        background-color: $primary-cyan;
      }

      &::before {
        content: '';
        top: -100px;
      }

      &::after {
        content: '';
        bottom: -100px;
      }

      // take common part with above
      &#{$self}--horizontal-connectors{
        &::before, &::after {
          content: '';
          display: block;
          position: absolute;
          top: 40%;
          transform: translateY(-50%) translateZ(-10px);  /* for displaying below parent -  This is important */
          height: 8px;
          width: 150px;
          background-color: $primary-cyan;
        }

        &::before {
          content: '';
          left: -100px;
        }

        &::after {
          content: '';
          left: calc(100% - 50px);
        }
      }
    }
}
