<div ngClass.gt-md="wrapper">

  <div app-header [ngStyle.gt-xs]="{'margin-bottom': '45px'}"></div>


  <!-- not too much styles on that template? -->
  <div class="top-section" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between center">
    <img class="top-section__image" fxFlexAlign.xs="start" fxFlexOrder.gt-xs="1" [ngStyle.xs]="{'max-width': '705px'}"
      [ngStyle.sm]="{width: '60%'}" [ngStyle.gt-sm]="{width: '55%'}" [ngStyle.gt-md]="{width: '60%'}"
      src="../assets/images/illustration-working.svg" alt="Man sitting at the desk" />
    <div [ngStyle.gt-xs]="{'min-width': '55%', 'margin-right': '30px'}"
      [ngStyle.gt-md]="{ 'text-align': 'left', 'min-width': '50%', 'margin-right': '50px'}" fxLayout="column"
      fxLayoutAlign="space-between center">
      <h1 class="top-section__title" [ngStyle.md]="{'font-size': '3rem'}" [ngStyle.gt-md]="{'font-size': '4.2rem'}">
        More than just shorter links</h1>
      <p class="top-section__text" [ngStyle.gt-sm]="{'font-size': '1.13rem'}"
        [ngStyle.gt-md]="{'font-size': '1.25rem', 'margin-top':'-3px'}">
        Build your brand’s recognition and get detailed insights
        on how your links are performing.
      </p>
      <button class="top-section__button rounded" fxFlexAlign.gt-md="start" [ngStyle.gt-md]="{'margin-top':'30px'}">Get
        Started</button>
    </div>
  </div>


  <div class="search-container" [ngStyle.lt-lg]="{'padding': '0 25px'}">
    <div class="search-bar" fxLayout="column" fxLayoutGap="17px" fxLayoutGap.gt-sm="22px" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between stretch" [ngStyle.sm]="{'padding':'30px 30px'}"
      [ngStyle.gt-sm]="{'padding':'50px 60px', 'background-image': 'url(../assets/images/bg-shorten-desktop.svg)', 'background-size': '100% 100%'}">
      <div class="search-bar__input-container">
        <!-- can be a custom control?-->
        <input class="search-bar__input" [ngStyle.gt-sm]="{'padding': '0.7em 1.5em', 'font-size': '1rem'}"
          [ngStyle.gt-md]="{'font-size': '1.1rem'}" type="text" placeholder="Shorten a link here..."
          [(ngModel)]="linkToShorten" #ctrl="ngModel" pattern="https?://.+" type="url" required>
        <div class="search-bar__validation-message" ngClass.lt-md="search-bar__validation-message--small"
          *ngIf="ctrl.invalid && !ctrl.pristine && ctrl.errors.required">Please add link</div>
        <div class="search-bar__validation-message" ngClass.lt-md="search-bar__validation-message--small"
          *ngIf="ctrl.invalid && !ctrl.pristine && ctrl.errors.pattern && !ctrl.errors.required">Please enter a valid
          URL</div>
      </div>
      <button class="search-bar__button" [ngStyle.gt-sm]="{'font-size': '0.9rem'}"
        [ngStyle.gt-md]="{'font-size': '1.1rem'}" fxFlex.gt-sm="10em" (click)="getShortenedLink()"
        [disabled]="ctrl.invalid">Shorten It!</button>
    </div>
  </div>


  <div class="links-section" fxLayout="column" fxLayoutGap="25px">
    <app-shortened-link *ngFor="let link of shortenedLinks" [original]="link.original" [new]="link.new">
    </app-shortened-link>
  </div>


  <div class="advanced-section" fxLayout="column" fxLayoutAlign="space-between center"
    [ngStyle.gt-md]="{'padding-top': '130px'}">
    <div class="advanced-section__title-container" [ngStyle.gt-xs]="{'margin': '0 27% 45px'}">
      <h2 class="advanced-section__title" [ngStyle.gt-sm]="{'font-size': '2.2rem'}">Advanced Statistics</h2>
      <p class="advanced-section__text" [ngStyle.gt-sm]="{'font-size': '1rem'}">
        Track how your links are performing across the web with our
        advanced statistics dashboard.
      </p>
    </div>
    <div class="advanced-section__cards-container" fxLayout="column" fxLayoutGap="90px" fxLayoutGap.gt-sm="34px"
      fxLayout.gt-sm="row" [ngStyle.gt-sm]="{'padding-bottom': '75px'}">
      <app-card cardTitle="Brand Recognition" icon="icon-brand-recognition"
        [ngStyle.gt-sm]="{'position': 'relative', 'top': '-50px'}">
        Boost your brand recognition with each click. Generic links don’t
        mean a thing. Branded links help instil confidence in your content.
      </app-card>
      <app-card cardTitle="Detailed Records" icon="icon-detailed-records" [showConnectors]='true'>
        Gain insights into who is clicking your links. Knowing when and where
        people engage with your content helps inform better decisions.
      </app-card>
      <app-card cardTitle="Fully Customizable" icon="icon-fully-customizable" fxFlexAlign.gt-xs="end"
        [ngStyle.gt-sm]="{'position': 'relative', 'top': '50px'}">
        Improve brand awareness and content discoverability through customizable
        links, supercharging audience engagement.
      </app-card>
    </div>
  </div>

  <div class="boost-section" fxLayout="column" fxLayoutAlign="center center"
    [ngStyle.gt-xs]="{'background-image': 'url(../assets/images/bg-boost-desktop.svg)', 'height': '260px'}">
    <h2 class="boost-section__title" [ngStyle.gt-sm]="{'font-size': '2.25rem'}">Boost your links today</h2>
    <button class="boost-section__button rounded" [ngStyle.gt-sm]="{'font-size': '1.1rem'}">Get Started</button>
  </div>

  <div app-footer fxLayout="column" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center"
  fxLayoutAlign.gt-sm="space-between start" [ngStyle.gt-sm]="{'text-align': 'left', 'padding-top': '68px'}"
  fxLayoutGap.lt-md="22px"></div>
</div>
