@import '../styles/variables.scss';

header {
    position: relative;
    $self: '.header';
    padding: 35px 25px 15px;

    #{$self}__hamburger-menu {
        color: $grayish-violet;
        font-size: 1.6rem;
    }
}

.menu {
  position: absolute;
  height: 370px;
  width: calc(100% - 2 * 25px);
  padding: 0 25px;
  bottom: 0;
  left: 25px;
  transform: translateY(100%);
  background-color: $primary-dark-violet;
  border-radius: 10px;

  &--closed {
    display: none !important;
  }

  &__menu-item {
    color: white;
    font-size: 1em;
  }

  &__separator {
    height: 1px;
    width: 100%;
    background-color: $gray;
    opacity: .2;
  }

  &__menu-button {
    width: 100%;
  }
}

.top-section {
    padding: 0 25px;
    text-align: center;
    overflow: hidden;

    &__image {
        width: 152%;
    }

    &__title {
        margin-top: 40px;
    }

    &__text {
        margin-top: 13px;
    }

    &__button {
        margin-top: 25px;
    }
}

.search-bar {
    margin: 0 25px;
    transform: translateY(50%);
    background-color: $primary-dark-violet;
    background-image: url(../assets/images/bg-shorten-mobile.svg);
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 23px 23px;

    &__input {
        margin-bottom: 17px;
    }

    &__button {
        border-radius: 6px;
        padding: 10px;
    }
}

.advanced-section {
    background-color: $light-gray;
    padding: 175px 25px 75px;

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        font-size: 0.85rem;
        text-align: center;
        letter-spacing: 0.017rem;
    }

    &__cards-container {
      margin-top: 85px;
    }
}

.boost-section {
  background-color: $primary-dark-violet;
  background-image: url(../assets/images/bg-boost-mobile.svg);
  height: 300px;

  &__title {
    color: white;
  }

  &__button {
    position: relative;
    top: 30px;
  }
}

footer {
  $self: '.footer';
  background-color: $very-dark-violet;
  padding: 45px 0;
  text-align: center;

  #{$self}__logo {
    margin-bottom: 55px;
  }
}

app-footer-item {
  margin-bottom: 35px;
}
