<header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <img class="header__logo" src="../assets/images/logo.svg" alt="Shortly logo" /> <!-- remove class when unused -->
    <i class="header__hamburger-menu fas fa-bars" (click)="showMenu()"></i>
  </div>
  <div class="menu menu--closed" #menu fxLayout="column" fxLayoutAlign="space-evenly center">
    <h3 class="menu__menu-item">Features</h3>
    <h3 class="menu__menu-item">Pricing</h3>
    <h3 class="menu__menu-item">Resources</h3>
    <div class="menu__separator"></div>
    <h3 class="menu__menu-item">Login</h3>
    <button class="menu__menu-button rounded">Sign Up</button>
  </div>
</header>


<div class="top-section" fxLayout="column" fxLayoutAlign="space-between center">
  <img class="top-section__image" fxFlexAlign="start" src="../assets/images/illustration-working.svg"
    alt="Man sitting at the desk" />
  <h1 class="top-section__title">More than just shorter links</h1>
  <p class="top-section__text">
    Build your brand’s recognition and get detailed insights
    on how your links are performing.
  </p>
  <button class="top-section__button rounded">Get Started</button>
</div>
<div class="search-bar" fxLayout="column">
  <input class="search-bar__input" type="text" placeholder="Shorten a link here...">
  <button class="search-bar__button">Shorten It!</button>
</div>

<div class="advanced-section" fxLayout="column" fxLayoutAlign="space-between center">
  <h2 class="advanced-section__title">Advanced Statistics</h2>
  <p class="advanced-section__text">
    Track how your links are performing across the web with our
    advanced statistics dashboard.
  </p>
  <div class="advanced-section__cards-container" fxLayout="column" fxLayoutGap="90px">
    <app-card cardTitle="Brand Recognition" icon="icon-brand-recognition">
      Boost your brand recognition with each click. Generic links don’t
      mean a thing. Branded links help instil confidence in your content.
    </app-card>
    <app-card cardTitle="Detailed Records" icon="icon-detailed-records" [showConnectors]='true'>
      Gain insights into who is clicking your links. Knowing when and where
      people engage with your content helps inform better decisions.
    </app-card>
    <app-card cardTitle="Fully Customizable" icon="icon-fully-customizable">
      Improve brand awareness and content discoverability through customizable
      links, supercharging audience engagement.
    </app-card>
  </div>
</div>

<div class="boost-section" fxLayout="column" fxLayoutAlign="center center">
  <h2 class="boost-section__title">Boost your links today</h2>
  <button class="boost-section__button rounded">Get Started</button>
</div>


<footer fxLayout="column" fxLayout="column" fxLayoutAlign="center center">
  <img class="footer__logo" src="../assets/images/logo-light.svg" alt="Shortly logo" />
  <app-footer-item title="Features" [listItems]="['Link Shortening','Branded Links','Analytics']"></app-footer-item>
  <app-footer-item title="Resources" [listItems]="['Blog','Developers','Support']"></app-footer-item>
  <app-footer-item title="Company" [listItems]="['About','Our Team','Careers', 'Contact']"></app-footer-item>
  <div class="footer__social-icons" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=24px>
    <!-- remove class when unused -->
    <img class="footer__social-icon" src="../assets/images/icon-facebook.svg"> <!-- remove class when unused -->
    <img class="footer__social-icon" src="../assets/images/icon-twitter.svg">
    <img class="footer__social-icon" src="../assets/images/icon-pinterest.svg">
    <img class="footer__social-icon" src="../assets/images/icon-instagram.svg">
  </div>
</footer>
