@import '../../styles/variables.scss';

.footer-item {
  padding-top: 10px;

  &__title {
    color: white;
    margin-bottom: 30px;
  }

  &__list {
    color: $gray;
    font-size: 0.85rem;
  }

  &__list-item {
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      color: $primary-cyan;
    }
  }
}
